### Example environment variables for development
# Copy this to `.env` for local development.
# Variables must be prefixed with `VITE_` to be exposed to the client.
VITE_APP_TITLE=Cylonix
VITE_APP_NAME=Cylonix
VITE_LOGO=cylonix
VITE_SUPPORT_EMAIL=contact@cylonix.io
